{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              </nav>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div onclick="location.href='recsys.html';" style="cursor: pointer;">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Music Recommendation System</h5>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-headphones"></i>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                </div>
                <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                <!-- Card body -->
                <div onclick="location.href='tables.html';" style="cursor: pointer;">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Spotify Catalogue</h5>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-note-03"></i>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                </div>
                <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                <!-- Card body -->
                <div onclick="location.href='ytsongs.html';" style="cursor: pointer;">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">YouTube Catalogue</h5>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-button-play"></i>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                </div>
                <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}