{% extends 'layouts/base.html' %}

{% block title %} Spotify Catalogue {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Spotify Catalogue</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .s{
     border-left: 100px;
    }

    .a{
      border-right: 200px;
    }

  </style>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <!--<div class="row"> -->
      <div class="col">
        <div class="card">
          <!-- Card header -->
          
          
          
          
          <!-- Light table -->
          <div class="table-responsive">
           <!--- <table class="table align-items-center table-flush"> -->
              <thead class="thead-light">
               
              </thead>
              <tbody class="list">
                

    <div class="table-responsive">
      
      <div class="container-fluid mt--6">
        <div class="row">
          <div class="col">
            <div class="card">
      <h2>music</h2>
 
      <div class="row padding-top-xs">
       <table class="table align-items-center table-flushcol m6 offset-m3">
         
         <tr> 
           <th scope="row">
             <div class="media align-items-center">
               <div class="media-body">
               {% for header in headings%}
                 <span class="name mb-0 text-sm">
                 <th> {{header}}</th> </span>
               {% endfor%}
                 </div>
             </div>
           </th>
         </tr>
         
         {% for row in data %}   
                           
         <tr> 
          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
              {% for cell in row%}
              <span class="name mb-0 text-sm">
              <td>{{ cell }}</td> </span>
              {% endfor %}
            </div>
           </div>
          </th>
         </tr>
         {% endfor %}
        
 
       </table>
      </div>
     </div>

          </div>
        </div>
      </div>
      

    

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
